* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Marmelad", sans-serif;
  height: auto;
}

header {
  font-weight: bold;
  color: rgb(199, 255, 204);
  font-size: 2.5rem;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.nav {
  font-weight: bold;
  padding-left: 1rem;
  min-width: 207px;
  max-height: 100%;
  font-size: 0.75rem;
  padding: 1rem;
  background-color: transparent;
}

li {
 color: rgb(223, 255, 225);
}

li:hover{
background-color:#290044;
border-style: outset;
border-color: rgb(255, 255, 255);
border-width: 2px;
}

#main {
  display: flex;
  align-items: center;
  background-color: rgb(213, 255, 239);
  height: 100%;
  background-image: url("WallpaperDog-17271795.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section {
  display: flex;
  align-items: center;
  margin-left: 15%;
  margin-right: 11%;
  transform: scale(160%);
}

.box {
  background-color: #f2f2f2;
  text-align: center;
  font-size: 2rem;
  padding: 50px;
}

footer {
  font-weight: lighter;
  text-align: center;
  color: rgb(199, 255, 204);
  font-size: 1rem;
  background-color: rgb(0, 0, 0);
}
